{% extends "/ListaCandidato/base.html" %}

{% block title %}Listas de Candidatos{% endblock %}

{% block content %}
    <h1>Listas de Candidatos</h1>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>Fecha</th>
                <th>Hora Inicio</th>
                <th>Hora Fin</th>
                <th>Estado</th>
                <th>Descripción</th>
            </tr>
        </thead>
        <tbody>
            {% for eleccion in elecciones %}
            <tr>
                <td>{{ eleccion.id_eleccion }}</td>
                <td>{{ eleccion.fecha }}</td>
                <td>{{ eleccion.hora_inicio }}</td>
                <td>{{ eleccion.hora_fin }}</td>
                <td>{{ eleccion.estado }}</td>
                <td>{{ eleccion.descripcion }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
