{% extends "base.html" %}
{% block title %}Resumen de votacion{% endblock %}
{% block content %}
<h1>Usted está realizando el siguiente voto:</h1>

<div class="container">
    <form id="votingForm" action="{{ url_for('home_bp.votar') }}" method="post">
        <div class="candidate">
            <div id="nombre-lista">
                <h5>{{ data.nombre }}</h5>
            </div>
        </div>
        <div class="option">
            <input type="hidden" name="id_lista" id="{{ data.id_lista }}" value="{{ data.id_lista }}">
        </div>
        <div id="cambiar-votar" class="mt-3">
            <input type="submit" class="btn btn-secondary" value="Confirmar Votacion">
        </div>
        <div class="mt-3">
            <a href="{{ url_for('home_bp.seleccionar_eleccion_votacion') }}" class="btn btn-primary">Cambiar votación</a>
        </div>
    </form>
</div>
{% endblock %}
