{% extends "base.html" %}
{% block title %}Detalles de la Elección{% endblock %}
{% block head %}
<style>
    body {
        background-color: #f0f0f0;
    }
    .container {
        margin-top: 50px;
        padding: 20px;
        background-color: #ffffff;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    .candidate {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px;
        border: 1px solid #007bff;
        border-radius: 10px;
        margin-bottom: 20px;
        transition: background-color 0.3s;
    }
    .candidate:hover {
        background-color: #e9ecef;
    }
    .candidate div {
        flex: 1;
        text-align: center;
    }
    .candidate img {
        max-width: 100px;
        border-radius: 50%;
    }
    .emitir-voto {
        background-color: #007bff;
        border-color: #007bff;
        color: white;
        padding: 10px 20px;
        width: 100%;
        border-radius: 10px;
        transition: background-color 0.3s, border-color 0.3s;
    }
    .emitir-voto:hover {
        background-color: #0056b3;
        border-color: #004085;
    }

</style>
{% endblock %}
{% block content %}
<body>
    <h3>Eliga a tu lista de preferencia:</h3>
    <div class="container">
        <form action="{{ url_for('home_bp.resumir_votacion') }}" method="post" id="votingForm">
            {% for lista in data %}
            <div class="candidate">
                <div id="nombre-lista">
                    <h5>{{ lista.nombre }} </h5>
                </div>
                <div id="nombre-partido">
                    <h5>Agrupacion politica</h5>
                    <p> {{ lista.id_lista }} </p>       
                </div>
                <div class="option">
                    <input type="radio" name="id_lista" id="{{ lista.id_lista }}" value="{{ lista.id_lista }}">
                </div>
            </div>
            {% endfor %}
            <button type="submit" class="btn btn-primary">Votar</button>
        </form>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        document.getElementById('votingForm').addEventListener('submit', function(event) {
            const radios = document.querySelectorAll('input[name="id_lista"]');
            let isChecked = false;
            radios.forEach(radio => {
                if (radio.checked) {
                    isChecked = true;
                }
            });
            if (!isChecked) {
                event.preventDefault();
                alert('Por favor seleccione una lista antes de continuar.');
            }
        });
    </script>
</body>

{% endblock %}
