{% extends "base.html" %}
{% block title %}Detalles de los votos{% endblock %}

{% block content %}
    <h2>Votos</h2>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Cantidad Votos</th>
            </tr>
        </thead>
        <tbody>
            {% for voto in data %}
            <tr>
                <td>{{ voto.nombre_lista }}</td>
                <td>{{ voto.cant_votos }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{{ url_for('home_bp.dashboard') }}" class="btn btn-primary">Ir a dashboard</a>

{% endblock %}
