{% extends "base.html" %}

{% block title %}Lista de Candidatos{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Lista de Candidatos</h5>
                    <ul class="list-group">
                        <li class="list-group-item">
                            <h6>Juan Pérez</h6>
                            <p><strong>Edad:</strong> 30</p>
                            <p><strong>Propuesta:</strong> Mas Areas verdes</p>
                        </li>
                        <li class="list-group-item">
                            <h6>Ana Gómez</h6>
                            <p><strong>Edad:</strong> 25</p>
                            <p><strong>Propuesta:</strong> Bono mensual</p>
                        </li>
                        <li class="list-group-item">
                            <h6>Luis Martínez</h6>
                            <p><strong>Edad:</strong> 35</p>
                            <p><strong>Propuesta:</strong> Ingreso a la universidad libre</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
