{% extends "base.html" %}

{% block title %}Admin Page{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-3">
        <div class="list-group">
            <a href="{{ url_for('home_bp.mostrar_elecciones') }}" class="list-group-item list-group-item-action">Mostrar Elecciones</a>

            <a href="{{ url_for('home_bp.ver_votos') }}" class="list-group-item list-group-item-action">Ver Votos</a>
        </div>
    </div>
    <h1 class="mb-4">Panel</h1> 

        <div class="col-md-9">
        {% block dashboard_content %}
        {% endblock %}
    </div>
</div>

{% endblock %}
