{% extends "base.html" %}
{% block title %}Listas de Elecciones activas{% endblock %}

{% block content %}
    <h1>Lista de Elecciones</h1>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>Fecha</th>
                <th>Hora</th>
                <th>Descripcion</th>
            </tr>
        </thead>
        <tbody>
            {% for eleccion in elecciones %}
            <tr>
                <td>{{ eleccion.id_eleccion }}</td>
                <td>{{ eleccion.fecha }}</td>
                <td>{{ eleccion.hora_inicio }} - {{ eleccion.hora_fin }}</td>
                <td>{{ eleccion.descripcion }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}